footer{
  width: 87.5rem;
  height: 45.875rem;
  flex-shrink: 0;

  border-radius: 1.875rem;
  background: #A1A1A1;

  padding: 5.56rem 5rem 3.38rem 3.56rem;
  margin: 2.5rem 0 1.25rem 0;
}

.menu-newsletter{
  display: flex;
  gap: 11.44rem;
  margin: 2.94rem 0 10rem 0;
}

.menus{
  display: inline-flex;
  align-items: flex-start;
  gap: 3.5rem;
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 11rem;
}

.menu > li{
  list-style: none;
  display: flex;
  width: 11rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.footer-item > ul{
  padding: 0;
}

.newsletter > h3{
  color: #000;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.625rem; /* 130% */
  letter-spacing: -0.0125rem;
  margin-bottom: 1.5rem;
}

.newsletter > p{
  color: #000;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem; 
  letter-spacing: -0.00875rem;
  margin-bottom: 2rem;
}

.newsletter > input{
  width: 24.9375rem;
  height: 3.75rem;
  flex-shrink: 0;
  border-radius: 6.25rem;
  border: 1px solid var(--Base-60, #767A85);
  background: #4B4B4B;
}

.newsletter > input::placeholder{
  color: var(--Base-40, #BFC0C2);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; 
  letter-spacing: -0.01rem;
  padding-left: 1.5rem;
}

.line-footer{
  width: 77.5rem;
  height: 0.0625rem;
  background: #686868;
  margin-bottom: 1.75rem;
}

.rights-and-menu{
  display: flex;
  gap: 23.03rem;
}

.rights-reserved{
  color: #000;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem; 
  letter-spacing: -0.00875rem;
}

.menus-footer{
  display: flex;
  gap: 2rem;

  color: #000;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  text-decoration-line: underline;
  text-transform: uppercase;
}
