header {
  width: 90rem;
  height: 5.875rem;
  flex-shrink: 0;

  border-bottom: 1px solid rgba(217, 217, 227, 0.6);
  background: #fff;

  display: flex;
  justify-content: space-around;

  padding: 2.19rem 2.5rem 2.19rem 2.44rem;
}

.item {
  list-style: none;

  display: flex;
  gap: 2rem;
}

.item > li {
  color: var(--Black-black-500, #000);

  text-align: center;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: -0.00875rem;
  text-transform: uppercase;
}

.buttons {
  display: flex;
  gap: 1.56rem;
  align-items: center;
}

.buttons > button {
  border: none;
  background-color: transparent;

  color: #000;

  text-align: center;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: -0.00875rem;
  text-transform: uppercase;
}

.buttons > .line {
  width: 0.0625rem;
  height: 1.25rem;
  background: #d9d9e3;
}

button:nth-child(3) {
  color: #6987cd;
}
