.section-3 {
  width: 87.5rem;
  height: 62.1875rem;
  flex-shrink: 0;
  border-radius: 1.875rem;
  background: #f3f5f9;
  margin: 1.25rem;
  padding: 6.25rem 6.25rem 8rem;
}

.cards-sec-3 {
  display: flex;
  gap: 9rem;
}

.h2-p-sec-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 5rem;
}

.card-3 {
  display: flex;
  width: 19rem;
  flex-direction: column;
  align-items: center;
}


.card-3 > img {
  height: 20.4375rem;
  align-self: stretch;
  border-radius: 1.25rem;
  margin-bottom: 2rem;
}

.description-img-sec-3 {
  color: var(--Base-100, #1f2026);
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -0.01125rem;
  align-self: stretch;
  margin-bottom: 1.5rem;
  width: 16.8rem;
}

.preco-item-e-botao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preco-item {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
}

.preco-item .simbolo-dolar {
  color: #000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 100% */
}

.preco-item h2 {
  color: #000;
  /* h2 */
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem; /* 88.889% */
}

.valor-lateral {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4375rem;
}

.valor-lateral .valor-direita {
  color: #ff0000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  font-style: normal;
  line-height: 1.5rem; /* 100% */
  text-decoration-line: line-through;
}

.button-sec3 {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.cart {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  background-color: black;
}

.cart img {
  position: relative;
  z-index: 1;
}
