.section-1{
  display: flex;
  gap: 9rem;
  justify-content: center;
  width: 90rem;
}

.text-sec-1, .images-sec-1 {
  position: relative;
  z-index: 2; 
}


.text-sec-1 > h1{
  width: 34rem;
  color: #000;
  font-family: Inter;
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5.625rem; 
  letter-spacing: -0.25rem;
  text-transform: uppercase;
  margin-bottom: 3.75rem;
  margin-top: 4.69rem;
}

.transversal-banner {
  position: absolute;
  width: 90rem;
  height: 51.4375rem;
  overflow: hidden;
}

.banner {
  display: flex;
  position: relative;
  top: -69%; 
  justify-content: flex-end;
  left: -28%; 
  width: 200%; 
  height: 200%; 
  background-size: cover;
  transform: rotate(27.807deg);
  z-index: -1; 
  flex-shrink: 0;
}

.banner-2 {
  content: "";
  position: absolute;
  top: -32%; 
  left: -39%; 
  width: 200%; 
  height: 200%; 
  background-size: cover;
  transform: rotate(-30deg); 
  z-index: -1; 
}

.sombreado {
  width: 33.3125rem;
  height: 36.1875rem;
  margin-right: 10.25rem;
  margin-top: 9.31rem;
}

.headset-img {
  width: 34.75rem;
  height: 38.25rem;
  flex-shrink: 0;
  position: absolute;
  z-index: 1;
  margin-top: 7.25rem;
  margin-right: 8.06rem;
}

main .warranty{
  margin-top: 16.94rem;
  margin-right: 0;
  display: flex;
  width: 16.25rem;
  height: 5.75rem;
  padding: 1rem 1.25rem;
  align-items: center;
  gap: 1rem;
}

main .warranty img{
  background-color: #000;
  border-radius: 50%;
  padding: 0.62rem;
  width: 3.75rem;
  height: 3.75rem;
}
main .battery{
  margin-top: 36.75rem;
  margin-left: 1.75rem;
  display: flex;
  width: 16.25rem;
  height: 5.75rem;
  padding: 1rem 1.25rem;
  align-items: center;
  gap: 1rem;
}

main .battery img{
  background-color: #000;
  border-radius: 50%;
  padding: 0.62rem;
  width: 3.75rem;
  height: 3.75rem;
}


.images-sec-1 {
  position: relative;
  display: flex;
}



.line-and-paragraph{
  border-left: 0.0625rem solid #BFC0C2;
  padding-left: 1.5rem;
  height: 11.75rem;
}

.line-and-paragraph > p{
  width: 29.0625rem;
  color: var(--Base-100, #1F2026);
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.75rem;
  letter-spacing: -0.09rem;
  margin-bottom: 3rem;
}

.line-and-paragraph> button{
  display: inline-flex;
  padding: 0.5rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  border-radius: 2.5rem;
  border: 1px solid var(--Base-40, #BFC0C2);
  background: #B0B0B0;
  color: white;
  margin-bottom: 1rem;
}

.ratings {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem; 
  margin-top: 4rem;
}

.rating-stars {
  display: flex;
  align-items: center;
  gap: 0.75rem; 
}

.text-1 {
  color: var(--Black-black-200, #000000);
  font-family: Inter;
  font-size: 2rem; 
  font-weight: 400;
  line-height: 1.5rem; 
  letter-spacing: -0.01rem; 
  font-weight: bold;
  margin-top: 0.8rem;
}

.stars {
  display: flex;
  align-items: center;
  gap: -0.125rem; 
}

.star {
  width: 1.875rem; 
  height: 1.875rem; 
}

.text-2 {
  color: var(--Black-black-200, #8A8A8A);
  font-family: Inter;
  font-size: 1rem; 
  font-weight: 400;
  line-height: 1.5rem; 
  letter-spacing: -0.01rem; 
}

.purchases {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.1rem;
}

.text-3 {
  color: var(--Black-black-500, #000);
  font-family: Inter;
  font-size: 1.875rem; 
  font-weight: 600;
  line-height: 2.375rem; 
  letter-spacing: -0.02rem; 
  margin-top: 1.5rem;
  margin-left: 4rem;
}

.text-4 {
  color: var(--Black-black-500, #000);
  font-family: Gilroy-Medium;
  font-size: 0.875rem; 
  font-weight: 400;
  line-height: 1.5rem; 
  margin-left: 4rem;
}



.button-base {
  border-radius: 2.5rem; 
  border: 0.0625rem solid #B5B5B5; 
  background: var(--White-white-50, #FFF);
  display: inline-flex;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem; 
  justify-content: center;
  align-items: center;
  gap: 1.875rem; 

}

.see-more-details {
  color: #000;
  font-family: Inter;
  font-size: 0.875rem; 
  font-weight: 600;
  line-height: 1.5rem; 
  letter-spacing: -0.009rem; 
  text-transform: uppercase;
}

.frame-arrow {
  display: flex;
  padding: 0.5rem; 
  justify-content: center;
  align-items: center;
  gap: 0.625rem; 
  border-radius: 1.875rem; 
  background: #000;
}

.arrow-icon {
  width: 1.5rem; 
  height: 1.5rem; 
}

.flutuantes {
  display:flex;
  flex-direction: row;
  height: 615px;
  background-color: transparent;
  width: 550px;
  position: absolute;
  z-index: 2;
  top: 0rem;
  left: 6%;
  justify-content: space-between;
  margin-left: -40px;
}


.battery{
  align-items: center;
  display:flex;
  width: 220px;
  height: 80px;
  background-color: #FFF;
  border-radius: 200px;
  margin-top: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.warranty{
  align-items: center;
  display:flex;
  width: 220px;
  height: 80px;
  background-color: #FFF;
  border-radius: 200px;
  margin-top: 147px;
  margin-right: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.infos{
  display: flex;
  flex-direction: column;
}

.weak-title{
 color: #8A8A8A;
 font-size: 16px;
}

.info-bold {
  font: bold;
  font-size: 20px;
}