@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.content {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}

.title {
    font-size: 28px;
    font-weight: bold;
}

.title-primary {
    color: #fff;
    margin-top: 10rem;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.description-primary {
    color: #fff;
}

.first-column img {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px; 
    margin-top: 85px;
    margin-bottom: 0;
}

.description-second {
    height: 60px;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    padding: 10px 90px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-second {
    background-color: black;
    border: 1px solid black;
    transition: background-color .5s;
}

.btn-second:hover {
    background-color: #fff;
    border: 1px solid black;
    color: black;
}

.first-content {
    display: flex;
}

.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
    border-radius: 15px;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
    border-radius: 15px;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}


.remember{
    margin-bottom: 20px;
    color: #32324f;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    text-align: right;
}

.remember a{
    text-decoration: none;
    color: black;
}

.remember a:hover{
    color: #3286ca;
}

.input-box a{
    color: black;
}

.input-box a:hover{
    color: #3286ca;
}